
.center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.center_h{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

canvas {
	clip-path: polygon(0 0, 40% 25%, 0 50%, 40% 75%, 0 100%, 40% 100%, 80% 75%, 40% 50%, 80% 25%, 40% 0);
}
